[user]
	name = Lucas Maximiliano Marino
	email = lucasmmarino@icloud.com
	signingkey = D72D74FD301EBFF0
[color]
	ui = true
[help]
	autocorrect = 10
[commit]
	gpgsign = true
[remote]
	push = +refs/heads/*
	push = +refs/tags/*
