[user]
		name = Lucas Maximiliano Marino
		email = hello@lucasmarino.me
		signingkey = 40473B976DC424A6
[color]
		ui = true
[help]
		autocorrect = 10
[commit]
		gpgsign = true
[remote]
		push = +refs/heads/*
			push = +refs/tags/*
